@charset "UTF-8";
/*!    
    FallBack
*/
/* --| SETTINGS |-------------------------------------------------------------------------------- */


// FallBack:

//$fallback--base-font-size: 10px;
$fallback--base-ui-color: #663399;
$fallback--breakpoint--enhanced: 30em;



$fallback--base-font-family: 'Source Sans Pro', sans-serif;


@import "../bower_components/Base/_fallback-base";

/* ---------------------------------------------------------------------------------------------- */
/* --| FUNCTIONS AND MIXINS |-------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------- */
/* --| BASE |------------------------------------------------------------------------------------ */

// StartCSS:
$body-padding: 0;
//$max-main-line-length: 0;
@import "../bower_components/Start-CSS/_start";


/* ---------------------------------------------------------------------------------------------- */
/* --| PATTERNS |-------------------------------------------------------------------------------- */


@import "../bower_components/Over-Panel/_over-panel";

//$fallback--sub-nav--bg-color:      darken($fallback--base-ui-color, 10%);
//$fallback--nav-bar--margin-bottom: 24px;
@import "../bower_components/Nav-Bar/_nav-bar";

@import "../bower_components/Search-Form/_search-form";


@import "../bower_components/Sticky-Footer/_sticky-footer";

/*$fallback-svg--fixed-height:      36px;
$fallback-svg--padding:           3px;
$fallback-svg--border-width:      1px;
$fallback-svg--border-color:      #666;
$fallback-svg--link-bg-color:     #fff;
$fallback-svg--link-bg-color-alt: #ffdd79;
@import "../bower_components/SVG/_svg";*/

//@include svg--fixed-height(40px, 'svg-logo', );

@import "../bower_components/Cookie-Notice/_cookie-notice";
/* ---------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------- */
/* --| OVERRIDES |------------------------------------------------------------------------------- */

/* --| PATTERNS |-------------------------------------------------------------------------------- */

@import "patterns/__all";

/* ---------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------- */
/* --| SHAME |----------------------------------------------------------------------------------- */

@import "_shame";


/* ---------------------------------------------------------------------------------------------- */
