/*
    SurfON Theme
    Note this theme file needs to be loaded *in addition* to the base 'style' file.
*/

/* --| START THEME |----------------------------------------------------------------------------- */

//@import "_themes-config.scss";
$theme-name: surfon;
$theme: (
    cta-text-color       : #ffffff,
    cta-background-color : #ff9e1b,
    primary-color        : #5c6dab,
    secondary-color      : #ff9e1b,
    page-header-color    : #ffffff
);


$f__breakpoint--enhanced: 60em;

$theme-copy: $theme;
$theme-name-copy: $theme-name;
@import "_style";



$theme-only: true;
@import "_themeable-patterns.scss";


//$theme: map_get($themes, $theme-name);
$theme: $theme-copy;
$theme-name: $theme-name-copy;
@import "_theme";

/* ---------------------------------------------------------------------------------------------- */

/* --| SHAME |----------------------------------------------------------------------------------- */

@import "_shame";

/* ---------------------------------------------------------------------------------------------- */