/*
    ToSCiN Theme
    Note this theme file needs to be loaded *in addition* to the base 'style' file.
*/

/* --| START THEME |----------------------------------------------------------------------------- */

//@import "_themes-config.scss";
$theme-name: toscin;
$theme: (
    cta-text-color       : #ffffff,
    cta-background-color : #FF9E18,
    primary-color        : #00a98f,
    secondary-color      : #FF9E18,
    page-header-color    : #ffffff
);


$f__breakpoint--enhanced: 50em;

$theme-copy: $theme;
$theme-name-copy: $theme-name;
@import "_style";



$theme-only: true;
@import "_themeable-patterns.scss";


//$theme: map_get($themes, $theme-name);
$theme: $theme-copy;
$theme-name: $theme-name-copy;
@import "_theme";

/* ---------------------------------------------------------------------------------------------- */

/* --| SHAME |----------------------------------------------------------------------------------- */

@import "_shame";

/* ---------------------------------------------------------------------------------------------- */